<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.house.HgjHouseDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.house.HgjHouse">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="bud_id" jdbcType="VARCHAR" property="budId"/>
        <result column="bud_code" jdbcType="VARCHAR" property="budCode"/>
        <result column="bud_name" jdbcType="VARCHAR" property="budName"/>
        <result column="grp_id" jdbcType="VARCHAR" property="grpId"/>
        <result column="grp_code" jdbcType="VARCHAR" property="grpCode"/>
        <result column="grp_name" jdbcType="VARCHAR" property="grpName"/>
        <result column="res_code" jdbcType="VARCHAR" property="resCode"/>
        <result column="res_name" jdbcType="VARCHAR" property="resName"/>
        <result column="res_no" jdbcType="VARCHAR" property="resNo"/>
        <result column="unit_no" jdbcType="VARCHAR" property="unitNo"/>
        <result column="bud_area" jdbcType="DECIMAL" property="budArea"/>
        <result column="house_floor" jdbcType="VARCHAR" property="houseFloor"/>
        <result column="floor_num" jdbcType="INTEGER" property="floorNum"/>
        <result column="rental_area" jdbcType="DECIMAL" property="rentalArea"/>
        <result column="fee_area" jdbcType="DECIMAL" property="feeArea"/>
        <result column="use_area" jdbcType="DECIMAL" property="useArea"/>
        <result column="res_type" jdbcType="VARCHAR" property="resType"/>
        <result column="porp_user" jdbcType="VARCHAR" property="porpUser"/>
        <result column="rent_status" jdbcType="VARCHAR" property="rentStatus"/>
        <result column="res_status" jdbcType="VARCHAR" property="resStatus"/>
        <result column="deco_staus" jdbcType="VARCHAR" property="decoStatus"/>
        <result column="fin_staus" jdbcType="VARCHAR" property="finStatus"/>
        <result column="ser_status" jdbcType="VARCHAR" property="serStatus"/>
        <result column="is_affect" jdbcType="INTEGER" property="isAffect"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
    </resultMap>

    <resultMap id="houseUnit" type="com.ej.hgj.entity.api.HgjHouseUnit">
        <result column="unit_no" jdbcType="VARCHAR" property="unitNo"/>
    </resultMap>

    <resultMap id="houseFloor" type="com.ej.hgj.entity.api.HgjHouseFloor">
        <result column="unit_no" jdbcType="VARCHAR" property="unitNo"/>
        <result column="floor_num" jdbcType="VARCHAR" property="floorNum"/>
    </resultMap>

    <resultMap id="houseRoomInfo" type="com.ej.hgj.entity.api.HgjHouseRoomInfo">
        <result column="id" jdbcType="VARCHAR" property="houseId"/>
        <result column="unit_no" jdbcType="VARCHAR" property="unitNo"/>
        <result column="floor_num" jdbcType="VARCHAR" property="floorNum"/>
        <result column="res_code" jdbcType="VARCHAR" property="resCode"/>
        <result column="res_name" jdbcType="VARCHAR" property="resName"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
    </resultMap>

    <sql id="Base_Column_List" >
            id,
            org_id,
            bud_id,
            bud_code,
            bud_name,
            grp_id,
            grp_code,
            grp_name,
            res_code,
            res_name,
            res_no,
            unit_no,
            bud_area,
            house_floor,
            floor_num,
            rental_area,
            fee_area,
            use_area,
            res_type,
            porp_user,
            rent_status,
            res_status,
            deco_status,
            fin_status,
            ser_status,
            is_affect,
            status,
            create_time,
            update_time
    </sql>

    <select id="findById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from s_house where id=#{id}
    </select>

    <insert id="insertList" parameterType="java.util.List">
        insert into s_house (
            id,
            org_id,
            bud_id,
            bud_code,
            bud_name,
            grp_id,
            grp_code,
            grp_name,
            res_code,
            res_name,
            res_no,
            unit_no,
            bud_area,
            house_floor,
            floor_num,
            rental_area,
            fee_area,
            use_area,
            res_type,
            porp_user,
            rent_status,
            res_status,
            deco_status,
            fin_status,
            ser_status,
            is_affect,
            status,
            create_time,
            update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.orgId,jdbcType=VARCHAR},
            #{item.budId,jdbcType=VARCHAR},
            #{item.budCode,jdbcType=VARCHAR},
            #{item.budName,jdbcType=VARCHAR},
            #{item.grpId,jdbcType=VARCHAR},
            #{item.grpCode,jdbcType=VARCHAR},
            #{item.grpName,jdbcType=VARCHAR},
            #{item.resCode,jdbcType=VARCHAR},
            #{item.resName,jdbcType=VARCHAR},
            #{item.resNo,jdbcType=VARCHAR},
            #{item.unitNo,jdbcType=VARCHAR},
            #{item.budArea,jdbcType=DECIMAL},
            #{item.houseFloor,jdbcType=VARCHAR},
            #{item.floorNum,jdbcType=INTEGER},
            #{item.rentalArea,jdbcType=DECIMAL},
            #{item.feeArea,jdbcType=DECIMAL},
            #{item.useArea,jdbcType=DECIMAL},
            #{item.resType,jdbcType=VARCHAR},
            #{item.porpUser,jdbcType=VARCHAR},
            #{item.rentStatus,jdbcType=VARCHAR},
            #{item.resStatus,jdbcType=VARCHAR},
            #{item.decoStatus,jdbcType=VARCHAR},
            #{item.finStatus,jdbcType=VARCHAR},
            #{item.serStatus,jdbcType=VARCHAR},
            #{item.isAffect,jdbcType=INTEGER},
            #{item.status,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.String" >
        delete from s_house
    </delete>

    <!-- 查询楼栋-->
    <select id="queryBuilding" resultMap="BaseMap" parameterType="java.lang.String" >
        select t.* from(
                           select
                               bud_id,bud_name
                           from s_house
                           where org_id=#{orgId}
                           group by bud_id,bud_name
                       )t
        where t.bud_id is not null
    </select>

    <!-- 查询单元-->
    <select id="queryUnit" resultMap="houseUnit" parameterType="java.lang.String" >
        select t.* from(
                           select
                               unit_no
                           from s_house
                           where org_id=#{orgId}
                           group by unit_no
                       )t
        where t.unit_no is not null
    </select>

    <!-- 查询楼层-->
    <select id="queryFloor" resultMap="houseFloor" parameterType="java.lang.String" >
        select t.* from(
                           select
                               unit_no,floor_num
                           from s_house
                           where org_id=#{orgId}
                           group by unit_no,floor_num
                       )t
        where t.unit_no is not null
    </select>

    <!-- 根据入住ID查询列表-->
    <select id="getByCstIntoId" resultMap="BaseMap"  parameterType="java.lang.String">
        select
            h.*
        from s_house h inner join t_cst_into_house i on i.house_id = h.id
        where i.delete_flag = 0 and i.into_status = 0 and i.cst_into_id = #{cstIntoId}
    </select>

    <!-- 根据楼栋查询房间号-->
    <select id="queryRoomNum" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.house.HgjHouse">
        select
            cst.code as cst_code, cst.cst_name ,h.res_name
        from s_house h
                 inner JOIN s_rcr r on r.res_id = h.id
                 inner JOIN s_cst cst on r.cst_id = cst.id
        where h.is_affect = 1 and r.is_affect = 1 and h.bud_id = #{budId}
        group by cst.code,cst.cst_name,h.res_name
    </select>

    <!-- 查询所有房间号-->
    <select id="queryRoomNumAll" resultMap="houseRoomInfo"  parameterType="com.ej.hgj.entity.api.HgjHouseRoomInfo">
        select
            h.id, h.unit_no, cst.code as cst_code, cst.cst_name ,h.res_code, h.res_name, h.floor_num
        from s_house h
                 inner JOIN s_rcr r on r.res_id = h.id
                 inner JOIN s_cst cst on r.cst_id = cst.id
        where h.is_affect = 1 and r.is_affect = 1 and h.org_id = #{orgId}
        group by h.id, h.unit_no, cst.code,cst.cst_name,h.res_code, h.res_name, h.floor_num
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.house.HgjHouse">
        select
        h.*,cst.code as cst_code, cst.cst_name
        from s_house h
        LEFT JOIN s_rcr r on r.res_id = h.id
        LEFT JOIN s_cst cst on r.cst_id = cst.id
        where h.is_affect = 1 and r.is_affect = 1
        <if test="budName != null">
            and h.bud_name like CONCAT('%', #{budName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="projectNum != null and projectNum != '' ">
            and h.org_id = #{projectNum,jdbcType=VARCHAR}
        </if>
        <if test="unitNo != null">
            and h.unit_no like CONCAT('%', #{unitNo,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="resName != null">
            and h.res_name like CONCAT('%', #{resName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="cstCode != null">
            and cst.code like CONCAT('%', #{cstCode,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="cstName != null">
            and cst.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
    </select>

</mapper>
