<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.card.CardQrCodeDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.card.CardQrCode">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="exp_date" jdbcType="VARCHAR" property="expDate"/>
        <result column="start_time" jdbcType="BIGINT" property="startTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="card_cst_batch_id" jdbcType="VARCHAR" property="cardCstBatchId"/>
        <result column="qr_code_content" jdbcType="VARCHAR" property="qrCodeContent"/>
        <result column="neigh_no" jdbcType="VARCHAR" property="neighNo"/>
        <result column="address_num" jdbcType="VARCHAR" property="addressNum"/>
        <result column="unit_num" jdbcType="VARCHAR" property="unitNum"/>
        <result column="floors" jdbcType="VARCHAR" property="floors"/>
        <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="res_code" jdbcType="VARCHAR" property="resCode"/>
        <result column="is_exp" jdbcType="INTEGER" property="isExp"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>

        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, exp_date, start_time, end_time,
        card_no, card_cst_batch_id, qr_code_content, neigh_no, address_num, unit_num, floors,
        wx_open_id, cst_code, is_exp, cst_name, res_code, create_time,
        update_time, create_by, update_by, delete_flag
    </sql>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.card.CardQrCode">
        select
        a.*,b.project_name as pro_name
        from t_card_qr_code a left join t_pro_config b on a.pro_num = b.project_num
        where a.delete_flag = 0
        <if test="isExp != null">
            and a.is_exp = #{isExp,jdbcType=INTEGER}
        </if>
        <if test="wxOpenId != null and wxOpenId !=''">
            and a.wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
        </if>
        <if test="cardNo != null and cardNo != ''">
            and a.card_no = #{cardNo,jdbcType=VARCHAR}
        </if>
        <if test="expDate != null and expDate != ''">
            and a.exp_date = #{expDate,jdbcType=VARCHAR}
        </if>
        <if test="proNum != null and proNum != ''">
            and a.pro_num = #{proNum,jdbcType=VARCHAR}
        </if>
        <if test="cstCode != null and cstCode != ''">
            and a.cst_code = #{cstCode,jdbcType=VARCHAR}
        </if>
        <if test="cstName != null and cstName != ''">
            and a.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="startDate != null and startDate != ''">
            and a.create_time >= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null and endDate != ''">
            and a.create_time &lt;= #{endDate,jdbcType=VARCHAR}
        </if>
        order by a.update_time desc
    </select>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.card.CardQrCode" >
        update
        t_card_qr_code
        <set>
            <if test="isExp != null">
                is_exp = #{isExp,jdbcType=INTEGER},
            </if>
            <if test="errorMsg != null">
                error_msg = #{errorMsg,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

</mapper>
