<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.card.CardCstDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.card.CardCst">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="card_id" jdbcType="VARCHAR" property="cardId"/>
        <result column="card_type" jdbcType="VARCHAR" property="cardType"/>
        <result column="card_code" jdbcType="VARCHAR" property="cardCode"/>
        <result column="cst_code" jdbcType="VARCHAR" property="cstCode"/>
        <result column="is_exp" jdbcType="INTEGER" property="isExp"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>

        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="card_name" jdbcType="VARCHAR" property="cardName"/>
        <result column="card_type_name" jdbcType="VARCHAR" property="cardTypeName"/>
        <result column="exp_num" jdbcType="INTEGER" property="expNum"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, card_id, card_type, card_code, cst_code, is_exp, create_time, update_time, create_by, update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_card_cst
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.card.CardCst">
        select t.* from(
            select
            a.*,s.cst_name, pc.project_name as pro_name, ca.name as card_name, d.name as card_type_name,
            (select sum(total_num)-sum(apply_num) from t_card_cst_batch
            where cst_code = a.cst_code and card_id = a.card_id and card_type = 1 and card_code = a.card_code and delete_flag = 0
            <if test="startYear != null and startYear != ''">
              and exp_date >= #{startYear}
            </if>
            <if test="endYear != null and endYear != ''">
              and exp_date &lt;= #{endYear}
            </if>
                )as exp_num
            from t_card_cst a
            left join s_cst s on s.`code` = a.cst_code
            left join t_pro_config pc on pc.project_num = a.pro_num
            left join t_card ca on ca.id = a.card_id
            left join t_card_type d on d.id = ca.type
            where a.delete_flag = 0 and a.card_type = 1
            <if test="proNum != null and proNum != ''">
                and a.pro_num = #{proNum}
            </if>
            <if test="cardId!= null and cardId != ''">
                and a.card_id = #{cardId}
            </if>
            <if test="cardCode != null and cardCode != ''">
                and a.card_code = #{cardCode}
            </if>
            <if test="cstCode != null and cstCode != ''">
                and a.cst_code = #{cstCode}
            </if>
            <if test="cstName != null and cstName != ''">
                and s.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
            </if>
            <if test="isExp != null">
                and a.is_exp = #{isExp}
            </if>
            <if test="cardType != null">
                and a.card_type = #{cardType}
            </if>

            union

            select
            a.*,s.cst_name, pc.project_name as pro_name, ca.name as card_name, d.name as card_type_name,
            (select sum(total_num)-sum(apply_num) from t_card_cst_batch
            where cst_code = a.cst_code and card_id = a.card_id and card_type = 2 and card_code = a.card_code and delete_flag = 0
            <if test="startYearMonth != null and startYearMonth != ''">
                and exp_date >= #{startYearMonth}
            </if>
            <if test="endYearMonth != null and endYearMonth != ''">
                and exp_date &lt;= #{endYearMonth}
            </if>
            )as exp_num
            from t_card_cst a
            left join s_cst s on s.`code` = a.cst_code
            left join t_pro_config pc on pc.project_num = a.pro_num
            left join t_card ca on ca.id = a.card_id
            left join t_card_type d on d.id = ca.type
            where a.delete_flag = 0 and a.card_type = 2
            <if test="proNum != null and proNum != ''">
                and a.pro_num = #{proNum}
            </if>
            <if test="cardId!= null and cardId != ''">
                and a.card_id = #{cardId}
            </if>
            <if test="cardCode != null and cardCode != ''">
                and a.card_code = #{cardCode}
            </if>
            <if test="cstCode != null and cstCode != ''">
                and a.cst_code = #{cstCode}
            </if>
            <if test="cstName != null and cstName != ''">
                and s.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
            </if>
            <if test="isExp != null">
                and a.is_exp = #{isExp}
            </if>
            <if test="cardType != null">
                and a.card_type = #{cardType}
            </if>
        )t
        where 1=1
        <if test="expNum == 0">
            and t.exp_num = 0
        </if>
        <if test="expNum == 1">
            and t.exp_num > 0
        </if>
        order by t.card_type
    </select>


    <!-- 批量插入-->
    <insert id="insertList" parameterType="java.util.List">
        insert into t_card_cst (
        id, pro_num, card_id, card_type, card_code, cst_code, is_exp, create_time, update_time, create_by, update_by, delete_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.proNum,jdbcType=VARCHAR},
            #{item.cardId,jdbcType=INTEGER},
            #{item.cardType,jdbcType=INTEGER},
            #{item.cardCode,jdbcType=VARCHAR},
            #{item.cstCode,jdbcType=VARCHAR},
            #{item.isExp,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.deleteFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--根据卡ID,标签更新总次数-->
    <update id="updateTotalNumByCardIdAndTag"  parameterType="com.ej.hgj.entity.card.CardCst">
        update
            t_card_cst
        set total_num = total_num + #{rechargeNum}, update_time = NOW()
        where id in(
            select
                a.id
            from
                (select id from t_card_cst where cst_code in (select cst_code from t_tag_cst where tag_id = #{tagId}) and card_id = #{cardId})AS a
            )
    </update>

    <!--根据卡ID,标签更新有效期-->
    <update id="updateStartEndTimeByCardIdAndTag"  parameterType="com.ej.hgj.entity.card.CardCst">
        update
            t_card_cst
        set start_time = #{startTime}, end_time = #{endTime}, update_time = NOW()
        where id in(
            select
                a.id
            from
                (select id from t_card_cst where cst_code in (select cst_code from t_tag_cst where tag_id = #{tagId}) and card_id = #{cardId})AS a
        )
    </update>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.card.CardCst" >
        update
        t_card_cst
        <set>
<!--            <if test="rechargeNum != null" >-->
<!--                total_num = total_num + #{rechargeNum},-->
<!--            </if>-->
<!--            <if test="applyNum != null">-->
<!--                apply_num = #{applyNum,jdbcType=INTEGER},-->
<!--            </if>-->
            <if test="isExp != null">
                is_exp = #{isExp,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!-- 根据客户编号禁用卡、恢复卡-->
    <update id="updateIsExp" parameterType="com.ej.hgj.entity.card.CardCst" >
        update
        t_card_cst
        <set>
            is_exp = #{isExp,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            update_by = #{updateBy,jdbcType=VARCHAR},
        </set>
        where delete_flag = 0
            and cst_code in
                <foreach collection="cstCodeList" item="cstCode" index="index" open="(" close=")" separator=",">
                    #{cstCode,jdbcType=VARCHAR}
                </foreach>
            and card_id = #{cardId,jdbcType=INTEGER}
            and pro_num = #{proNum,jdbcType=VARCHAR}
    </update>

    <!-- 查询批量充值客户-->
    <select id="batchRechargeCstList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.card.CardCst">
        select
        <include refid="Base_Column_List" />
        from t_card_cst
        where delete_flag = 0
        and is_exp = 1
        and pro_num = #{proNum,jdbcType=VARCHAR}
        and card_id = #{cardId,jdbcType=INTEGER}
        and cst_code in
        <foreach collection="cstCodeList" item="cstCode" index="index" open="(" close=")" separator=",">
            #{cstCode,jdbcType=VARCHAR}
        </foreach>
    </select>


</mapper>
