<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.cst.HgjCstDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.cst.HgjCst">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="cst_name" jdbcType="VARCHAR" property="cstName"/>
        <result column="cst_type" jdbcType="VARCHAR" property="cstType"/>
        <result column="cst_level" jdbcType="VARCHAR" property="cstLevel"/>
        <result column="is_affect" jdbcType="INTEGER" property="isAffect"/>
        <result column="contract_character" jdbcType="VARCHAR" property="contractCharacter"/>
        <result column="cer_type" jdbcType="VARCHAR" property="cerType"/>
        <result column="cer_no" jdbcType="VARCHAR" property="cerNo"/>
        <result column="lic_no" jdbcType="VARCHAR" property="licNo"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="into_status" jdbcType="INTEGER" property="intoStatus"/>
        <result column="card_total_num" jdbcType="INTEGER" property="cardTotalNum"/>
        <result column="cst_tag" jdbcType="VARCHAR" property="cstTag"/>
        <result column="res_name" jdbcType="VARCHAR" property="resName"/>
        <result column="card_code" jdbcType="VARCHAR" property="cardCode"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, org_id, code, cst_name, cst_type, cst_level, is_affect, contract_character, cer_type, cer_no, lic_no, mobile, create_time, update_time
    </sql>
    <select id="findByCstCode" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from s_cst where code=#{cstCode}
    </select>

    <select id="findByProNum" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from s_cst where org_id=#{proNum}
    </select>

    <insert id="insertList" parameterType="java.util.List">
        insert into s_cst (
        id, org_id, code, cst_name, cst_type, cst_level, is_affect, create_time, update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.orgId,jdbcType=VARCHAR},
            #{item.code,jdbcType=VARCHAR},
            #{item.cstName,jdbcType=VARCHAR},
            #{item.cstType,jdbcType=VARCHAR},
            #{item.cstLevel,jdbcType=VARCHAR},
            #{item.isAffect,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.String" >
        delete from s_cst where org_id = #{orgId,jdbcType=VARCHAR}
    </delete>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.cst.HgjCst">
        select t.* from (
            select
            cst.*,p.project_name,
            (
                select max(into_status)
                from t_cst_into
                where delete_flag = 0
                and cst_code = cst.`code`
                and into_status = 1
            ) as into_status,
            (
                select count(id)
                from t_card_cst
                where delete_flag = 0
                and cst_code = cst.`code`
                <if test="cardType != null">
                    and card_type = #{cardType,jdbcType=INTEGER}
                </if>
            ) as card_total_num,
            (
                select GROUP_CONCAT(card_code SEPARATOR ',')
                from t_card_cst
                where delete_flag = 0
                and cst_code = cst.`code`
            ) as card_code,
            (
                select GROUP_CONCAT(b.`name` SEPARATOR ',')
                from t_tag_cst a
                left join t_tag b on b.id = a.tag_id
                where a.cst_code = cst.code
            ) as cst_tag,
            (
                select
                    GROUP_CONCAT(t.res_name SEPARATOR ',')
                from
                (
                    select
                        hu.*
                    from s_rcr rcr
                    left join s_contract con on con.id = rcr.ctt_id
                    left join s_house hu on hu.id = rcr.res_id
                    where rcr.is_affect = 1 and rcr.cst_id in ( select id from s_cst where code = cst.code)
                ) t
                order by t.res_code
            ) as res_name
        from s_cst cst left join t_pro_config p on cst.org_id = p.project_num
            where 1 = 1
            <if test="code != null">
                and cst.code like CONCAT('%', #{code,jdbcType=VARCHAR},'%') ESCAPE '/'
            </if>
            <if test="cstName != null">
                and cst.cst_name like CONCAT('%', #{cstName,jdbcType=VARCHAR},'%') ESCAPE '/'
            </if>
            <if test="cerNo != null">
                and cst.cer_no = #{cerNo,jdbcType=VARCHAR}
            </if>
            <if test="licNo != null">
                and cst.lic_no = #{licNo,jdbcType=VARCHAR}
            </if>
            <if test="orgId != null and orgId != '' ">
                and cst.org_id = #{orgId,jdbcType=VARCHAR}
            </if>
            <if test="proNumList != null and proNumList.size() > 0">
                and cst.org_id in
                <foreach collection="proNumList" item="proNum" index="index" open="(" close=")" separator=",">
                    #{proNum,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="cstCodeList != null and cstCodeList.size() > 0">
                and cst.code in
                <foreach collection="cstCodeList" item="cstCode" index="index" open="(" close=")" separator=",">
                    #{cstCode,jdbcType=VARCHAR}
                </foreach>
            </if>
        )t
        where 1=1
        <if test="intoStatus == 1">
            and into_status = 1
        </if>
        <if test="intoStatus == 99">
            and into_status is null
        </if>
        <if test="sendCardStatus == 1">
            and card_total_num > 0
        </if>
        <if test="sendCardStatus == 0">
            and card_total_num = 0
        </if>
        <if test="cstTag != null and cstTag != ''">
            and cst_tag like CONCAT('%', #{cstTag,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="resName != null and resName != ''">
            and res_name like CONCAT('%', #{resName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        <if test="cardCode != null and cardCode != ''">
            and card_code like CONCAT('%', #{cardCode,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
    </select>





    <!-- 根据资源ID查询客户名称-->
<!--    <select id="getCstNameByResId" resultMap="BaseMap" parameterType="java.lang.String" >-->
<!--        SELECT-->
<!--            DISTINCT(c.`code`) as code,hu.org_id,c.cst_name-->
<!--        FROM-->
<!--            s_rcr rcr-->
<!--                INNER  JOIN s_house hu ON hu.id = rcr.res_id-->
<!--                INNER JOIN s_cst c on c.id=rcr.cst_id-->
<!--        where rcr.res_id=#{resId} and rcr.is_affect =1-->
<!--    </select>-->
</mapper>
