<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.adverts.AdvertsPathDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.adverts.AdvertsPath">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="path_name" jdbcType="VARCHAR" property="pathName"/>
        <result column="adverts_path" jdbcType="VARCHAR" property="advertsPath"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, path_name, adverts_path, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from t_adverts_path
        where id = #{id}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.adverts.AdvertsPath">
        select
        <include refid="Base_Column_List" />
        from t_adverts_path
        where delete_flag = 0
        <if test="pathName != null and pathName != ''">
            and path_name like CONCAT('%', #{pathName,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        order by update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.adverts.AdvertsPath" >
        insert into t_adverts_path(
        <if test="id != null">
            id,
        </if>
        <if test="pathName != null">
            path_name,
        </if>
        <if test="advertsPath != null">
            adverts_path,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pathName != null" >
                #{pathName,jdbcType=VARCHAR},
            </if>
            <if test="advertsPath != null" >
                #{advertsPath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 批量插入-->
    <insert id="insertList" parameterType="java.util.List">
        insert into t_adverts_path (
        id, path_name, adverts_path, create_time, update_time, create_by, update_by, delete_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.pathName,jdbcType=VARCHAR},
            #{item.advertsPath,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.deleteFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.adverts.AdvertsPath" >
        update
        t_adverts_path
        <set>
            <if test="pathName != null">
                path_name = #{pathName,jdbcType=VARCHAR},
            </if>
            <if test="advertsPath != null">
                adverts_path = #{advertsPath,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <!-- 删除-->
    <update id="delete" parameterType="java.lang.String" >
        update t_adverts_path set delete_flag = 1 where id=#{id}
    </update>

</mapper>
