<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.coupon.CouponSubDetailDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.coupon.CouponSubDetail">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="qr_code_id" jdbcType="VARCHAR" property="qrCodeId"/>
        <result column="sub_num" jdbcType="VARCHAR" property="subNum"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, qr_code_id, sub_num, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.coupon.CouponSubDetail">
        select
        <include refid="Base_Column_List" />
        from t_coupon_sub_detail
        where delete_flag = 0
        order by update_time desc
    </select>

    <!-- 根据券二维码ID查询券二维码当天扣款记录-->
    <select id="getByQrCodeIdList" resultMap="BaseMap"  parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_coupon_sub_detail
        where delete_flag = 0 and qr_code_id = #{qrCodeId} and DATE(create_time) = CURDATE()
        order by update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.coupon.CouponSubDetail" >
        insert into  t_coupon_sub_detail(
        <if test="id != null">
            id,
        </if>
        <if test="qrCodeId != null">
            qr_code_id,
        </if>
        <if test="subNum != null">
            sub_num,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="deleteFlag != null">
            delete_flag
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="qrCodeId != null" >
                #{qrCodeId,jdbcType=VARCHAR},
            </if>
            <if test="subNum != null" >
                #{subNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>


</mapper>
