<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.user.UserBuildDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.user.UserBuild">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="project_num" jdbcType="VARCHAR" property="projectNum"/>
        <result column="bud_id" jdbcType="VARCHAR" property="budId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, project_num, bud_id, mobile, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据主键查询-->
    <select id="getById" resultMap="BaseMap" parameterType="java.lang.String" >
        select
            <include refid="Base_Column_List" />
        from t_user_build
        where id = #{id}
    </select>

    <!-- 根据主键查询-->
    <select id="getByMobile" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_user_build
        where mobile = #{mobile}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.user.UserBuild">
        select
        <include refid="Base_Column_List" />
        from t_user_build
        where delete_flag = 0
        <if test="mobile != null">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="budId != null">
            and bud_id = #{budId,jdbcType=VARCHAR}
        </if>
        order by update_time desc
    </select>

    <!-- 保存-->
    <insert id="save" parameterType="com.ej.hgj.entity.user.UserBuild" >
        insert into  t_user_build(
        <if test="id != null">
            `id`,
        </if>
        <if test="projectNum != null">
            `project_num`,
        </if>
        <if test="mobile != null">
            `mobile`,
        </if>
        <if test="budId != null">
            `bud_id`,
        </if>
        <if test="createTime != null">
            `create_time`,
        </if>
        <if test="createBy != null">
            `create_by`,
        </if>
        <if test="updateTime != null">
            `update_time`,
        </if>
        <if test="updateBy != null">
            `update_by`,
        </if>
        <if test="deleteFlag != null">
            `delete_flag`
        </if>
        )
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="projectNum != null" >
                #{projectNum,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="budId != null" >
                #{budId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.user.UserBuild" >
        update
        t_user_build
        <set>
            <if test="projectNum != null">
                project_num = #{projectNum,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="budId != null">
                bud_id = #{budId,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where mobile = #{mobile,jdbcType=VARCHAR}
    </update>

    <!-- 批量插入-->
    <insert id="insertList" parameterType="java.util.List">
        insert into t_user_build (
        id, project_num, bud_id, mobile, create_time, update_time, create_by,
        update_by, delete_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.projectNum,jdbcType=VARCHAR},
            #{item.budId,jdbcType=VARCHAR},
            #{item.mobile,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.deleteFlag,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!-- 删除-->
    <update id="delete" parameterType="java.lang.String" >
        delete from t_user_build where mobile=#{mobile}
    </update>

    <!-- 删除-->
    <update id="deleteByMobileAndCorpId" parameterType="java.lang.String" >
        delete from t_user_build where mobile = #{mobile} and corp_id = #{corpId}
    </update>

</mapper>