<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ej.hgj.dao.message.MsgTemplateDaoMapper">

    <resultMap id="BaseMap" type="com.ej.hgj.entity.message.MsgTemplate">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pro_num" jdbcType="VARCHAR" property="proNum"/>
        <result column="template_key" jdbcType="VARCHAR" property="templateKey"/>
        <result column="template_id" jdbcType="VARCHAR" property="templateId"/>
        <result column="template_data" jdbcType="VARCHAR" property="templateData"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>

        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, pro_num, template_key, template_id, template_data, status, description, create_time, update_time, create_by,
        update_by, delete_flag
    </sql>

    <!-- 根据key查询-->
    <select id="getByKey" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_msg_template
        where delete_flag = 0 and status = 0 and template_key = #{templateKey}
    </select>

    <!-- 根据项目号跟key查询-->
    <select id="getByProNumAndKey" resultMap="BaseMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_msg_template
        where delete_flag = 0 and status = 0 and pro_num = #{proNum} and template_key = #{templateKey}
    </select>

    <!-- 查询列表-->
    <select id="getList" resultMap="BaseMap"  parameterType="com.ej.hgj.entity.message.MsgTemplate">
        select
        a.*,b.project_name as pro_name
        from t_msg_template a
        left join t_pro_config b on b.project_num = a.pro_num
        where a.delete_flag = 0
        <if test="proNum != null and proNum != ''">
            and a.pro_num = #{proNum}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="description != null and description != ''">
            and a.description like CONCAT('%', #{description,jdbcType=VARCHAR},'%') ESCAPE '/'
        </if>
        order by a.update_time desc
    </select>

    <!-- 更新-->
    <update id="update" parameterType="com.ej.hgj.entity.message.MsgTemplate" >
        update
        t_msg_template
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
